<h1><%= @employee.first_name + " " + @employee.last_name %></h1>
<p>Alias: <%= @employee.alias %></p>
<p>Title: <%= @employee.title %></p>
<p>Office: <%= @employee.office %></p>
<p>Dog: <%= @employee.dog.name %></p>
<p>Picture: <%= image_tag @employee.img_url, size: "100x100" %></p>
