<h1>WADDUPPPP <%=@employee.first_name%>!!!</h1>
<h3>YOUR FACE: </h3>
<img src=<%=@employee.img_url%> height="300"/><br>
<h3>First Name: <%=@employee.first_name %></h3>
<h3>Last Name: <%=@employee.last_name %></h3>
<h3>Alias: <%=@employee.alias %></h3>
<h3>Title: <%=@employee.title %></h3>
<h3>Office: <%=@employee.office %></h3>
<h3>Dog: <%=@employee.dog.name %></h3>